
	    <%= attachment_image_tag travel_image.user, :profile_image, :fill, 5, 5, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></th>
	    <p><%= travel_image.user.name %></p>
	    <p><%= travel_image.created_at.strftime('%Y/%m/%d') %></p>
        </tr>
<br>
	<%= attachment_image_tag travel_image, :image, :fill, 200,200 %><br>
	<% if travel_image.user == current_user %>
	<%= link_to edit_travel_image_path(travel_image.id) do %>
	<i class="fas fa-edit"></i>
	<% end %>
	<%= link_to travel_image_path(travel_image), method: :delete, data: {confirm: '本当に消しますか?' } do %>
	<i class="fas fa-trash-alt"></i>
	<% end %>
	<i class="far fa-comment"></i><%= travel_image.comments.count %>
	<% end %><br>
	<%= @travel_image.caption %><br>
	<div id="likes_buttons_<%= @travel_image.id %>" class="pull-right">
	<% if @travel_image.favorited_by?(current_user) %>
	<%= link_to travel_image_favorites_path(@travel_image), method: :delete, remote: true do %>
	<i class="fas fa-thumbs-up"></i><%= @travel_image.favorites.count %>
	<% end %>
	<% else %>
	<%= link_to travel_image_favorites_path(@travel_image), method: :post, remote: true do %>
	<i class="far fa-thumbs-up"></i><%= @travel_image.favorites.count %>
	<% end %>
	<% end %>
	</div>