<br>
<div class="row">
    <div class="col-xs-9">
      <h2 class="form-header-title"><span class="glyphicon glyphicon-pencil"></span>Writing travel report</h2>
        <%= form_for(@travel_image, url: travel_images_path) do |f| %>
         <% if @travel_image.errors.any? %>
          <div id="error_explanation">
           <h2><%= @travel_image.errors.count %>件のエラーが発生しました。</h2>
           <ul>
           <% @travel_image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
     <% end %>
      <%= f.attachment_field :image %><br>
      <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメントここに" %><br>
      <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
</div>
</div>